<div class="${baseClass}">
    <div class="${baseClass}Title" data-dojo-attach-point="titleNode"
            data-dojo-attach-event="onclick:_onClick"></div>
    <!-- And our container: -->
    <div class="${baseClass}Container"
            data-dojo-attach-point="containerNode"></div>
    <div data-dojo-type="dijit/form/Button">Internal Button</div>
    
</div>
