<form data-dojo-attach-point='containerNode'>
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols: 1">
        <input data-dojo-type="dijit/form/ValidationTextBox" title="First Name:" name="firstName"
               data-dojo-props="required: true"/>
        <input data-dojo-type="dijit/form/ValidationTextBox" 
               title="Last Name:" 
               name="lastName"
               data-dojo-props="required: true"/>
        <input name="email"
               title="E-mail"
               data-dojo-type="dijit/form/ValidationTextBox"
               data-dojo-props="
               validator: dojox.validate.isEmailAddress,
               invalidMessage: 'This is not a valid email!'"/>
        <input name="Age"
               title="Age:"
               data-dojo-type="dijit/form/ValidationTextBox"
               data-dojo-props="
               validator: dojox.validate.isInRange,
               constraints: { min: 18, max: 100 },
               invalidMessage: 'This is not within the range of 18 to 100!'"/>
    </div>
</form>